.carousel-inner {padding: 7px;
    border: 50px solid burlywood;
.carousel-item img {height: 400px;
    width: 30%;
    height: 600px;}
div{
    h5 {
            color: $colorletras;
            font-size: 45px;
            font-family: Georgia, 'Times New Roman', Times, serif;
                
                                                    
        }
    }
    .listasimg {background-color: $color1;
        text-transform: capitalize;
    }  
}    