.carousel-inner {padding: 7px;
    border: 20px solid burlywood;
.carousel-item img {height: 50px;
    width: 30%;
    height: 400px;}
div{
    h5 {
            color: $colorletras;
            font-size: 45px;
            font-family: Georgia, 'Times New Roman', Times, serif;
                
                                                    
        }
    }
    .listasimg {background-color: $color1;
        text-transform: capitalize;
        
    }  
    .carousel-caption {display: grid;
    align-items: flex-end;}
}    