.formiulario {width: 100%;
   
    
    .text-center {background-color: $color1;
    font-size: 50px;
    text-transform: capitalize;
    padding: 10px;
    }
}
form {background-image:linear-gradient(to left,white,#dc1449) ;
    padding: 15px;}
  
    
    .nav.nav-justified {padding: 50px;}