// propiedades
$color1: #dc1449;
$colorletras: black;
$color-sombra: white;
body{background-image:linear-gradient(to left,white,#dc1449);
}
// header
@import"header";
// carousel
@import"carucel";
@import"formulario";
@import"estiloservicios";
@import"estilocursos";
@import"estilonosotros";
span {font-size: 35px;
color: darkmagenta;}
 
